# KiCad temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~

_autosave-*
*.temp
*-save.pro
*-save.kicad_pcb

# KiCad local/project cache
*.kicad_prl
fp-info-cache

*.cache

# Netlist / autorouter
*.net
*.dsn
*.sns

# Backups (IMPORTANT)
*-backups
*.zip

*.lck
*.kicad_sch-bak
r2Cu-backups/
*.pdf
r2Cu-backup.kicad_pcb/